services:
  lab-store-online:
    build:
      context: ./storeOnline
      dockerfile: Dockerfile
    container_name: store-online
    restart: unless-stopped
    ports:
      - "8082:80"
      - "5175:5175"
    volumes:
      - ./storeOnline:/var/www/html
    networks:
      - red_cranuk
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - red_cranuk

volumes:
  dbdata:

networks:
  red_cranuk:
    external: true
