/* ANCHOR: mis archivos css */
@import './global.css';
@import './colors.css';
@import './dashboard.css';
@import './footer.css';
@import './menu.css';
@import './tables.css';
@import './forms.css';
@import './modal.css';
@import './mediaqueries.css';
