footer {
    width: 100%;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    background-color: var(--background-footer);
}

.footer-contact,
.footer-copyright {
    display: flex;
    gap: 10px;
}

.footer-copyright p,
.footer-copyright p span,
.footer-copyright span {
    color: var(--text-color-footer);
}

.footer-contact .icon-big {
    font-size: 2rem;
    color: var(--icon-color-link);
}

.footer-copyright p a {
    color: var(--icon-color-link);
}