.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-text {
    font-size: 1.4rem;
    color: var(--text-color);
}

.input-text,
.input-select {
    font-size: 1.4rem;
    height: 50px;
    width: 400px;
    color: var(--text-color-input);
    text-align: center;
}