* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

body {
    display: flex;
    /* Estructura principal */
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-general);
}

main {
    display: flex;
    transition: var(--tran-05);
}

main.main-close {
    transition: var(--tran-05);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.d-none {
    display: none;
}

.space-10 {
    margin-top: 10px;
}

.icon-head {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.icon-small {
    font-size: 1.5rem;
}

.icon-medium {
    font-size: 2rem;
}

.icon-big {
    font-size: 3rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.8rem;
    color: var(--text-color);
}

.underlined {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.alert-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.alert {
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
}

.alert-notice {
    color: var(--text-color);
    background-color: var(--background-general);
    border-radius: 10px;
    padding: 40px 5px;
    margin: 20px 10px;
    box-shadow: 0 4px 4px var(--border-shadow);
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.buttons {
    width: fit-content;
    padding: 10px;
    color: #fcfaf9;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: box-shadow 0.3s;
}

.button-red {
    background-color: #ff5e5b;
}

.button-red:hover {
    box-shadow: 0 5px 15px rgba(209, 207, 207, 0.5);
}

.button-lightBlue {
    background-color: #3581B8;
}

.button-lightBlue:hover {
    box-shadow: 0 5px 15px rgba(209, 207, 207, 0.5);
}

.button-yellow {
    background-color: #f4b860;
}

.button-yellow:hover {
    box-shadow: 0 5px 15px rgba(209, 207, 207, 0.5);
}

.button-orange {
    background-color: #EB5E28;
}

.button-orange:hover {
    box-shadow: 0 5px 15px rgba(209, 207, 207, 0.5);
}

.button-green {
    background-color: #588157;
}

.button-green:hover {
    box-shadow: 0 5px 15px rgba(209, 207, 207, 0.5);
}

.header-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/*ANCHOR: estilos que son en funcion al panel*/
.section {
    width: 100%;
    padding: 0px 20px;
    transition: var(--tran-05);
}

.section-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.section-content .title i {
    height: 35px;
    width: 35px;
    background-color: var(--background-icon-color);
    border-radius: 6px;
    color: var(--icon-color-title);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.section-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.pagination-box nav {
    width: 100%;
    padding: 0px;
    position: initial;
    border: none;
    transition: none;
    font-size: 2rem;
}

ul.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}