@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    footer {
        margin-left: 70px;
    }

    footer.footer-close {
        margin-left: 250px;
    }

    main {
        margin-left: 70px;
    }

    nav .logo-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }
}

@media (max-width: 820px) {
    .container-footer>.footer-copyright {
        flex-direction: column;
        text-align: center;
    }

    .footer-no-display {
        display: none;
    }

    * {
        font-size: 14px
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 420px) {
    * {
        font-size: 12px
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
}