nav {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--background-general);
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    padding-top: 15px;
    transition: var(--tran-03);
}

nav.close {
    width: 60px;
}

nav.close li a .link-name,
nav.close .logo-title,
nav.close .mode-toggle-btn .link-name {
    display: none;
}

nav .logo-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .logo-image {
    display: flex;
    justify-content: center;
}

nav .logo-image span {
    color: var(--text-color);
}

nav .logo-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    padding-left: 10px;
}

nav .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.menu-items li a .link-name {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.mode-toggle-btn {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0;
    cursor: pointer;
}

.mode-toggle-btn .link-name {
    font-size: 18px;
    padding-left: 10px;
}

.menu-items li a span,
.mode-toggle-btn span {
    color: var(--icon-color-panel);
}

.nav-links li a:hover span,
.nav-links li a:hover .link-name,
.mode-toggle-btn:hover span,
body.dark .nav-links li a:hover span,
body.dark .nav-links li a:hover .link-name,
body.dark .mode-toggle-btn:hover span {
    color: var(--text-color-hover);
}