.container-options {
    padding-top: 20px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.menu-buttons {
    display: inline-flex;
    justify-content: center;
    width: 120px;
    padding: 10px;
    color: #fcfaf9;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 90vh;
    background-color: var(--background-general);
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-box {
    display: flex;
    align-items: center;
    padding-left: 8px;
    transition: var(--tran-05);
    cursor: pointer;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
}

nav .logo-name {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

nav.close .logo-name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color-panel);
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--text-color-hover);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color-hover);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--background-general);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}