.section-modal {
    display: inline-flex;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0b0c08bd;
    opacity: 0;
    pointer-events: none;
}

.box-modal {
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.open-modal {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s;
}

.hide-modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}